.document-header {
  font-weight: 200;
  font-size: x-large;
  color: white;
}

header {
  background-color: #673ab7;
  height: 38px;
}

mat-icon {
  vertical-align: text-bottom;
}

.notification-icon {
  font-size: 100px;
  width: 100px;
  height: 100px;
}

.notification-icon-div {
  text-align: center;
  margin-top: 100px;
}

.no-document {
  text-align: center;
}
