<atlas-grid
    [isFilterable]="'menu'"
    [state]="gridState"
    [columns]="columnsData"
    [gridService]="testServiceChild"
    [isSortable]="sortable"
    [isPageable]="false"
    [selectable]="selectableSettings"
    [showSelectAll]="false"
    [isEditable]="false"
    [selectedKeys]="selectedKeys"
    [isGroupable]="true"
    [pdfOption]="pdfOption"
    [excelOption]="excelOption"
    showExcelExport="true"
    showPdfExport="true"
    height="530"
    routeParamProperty="LoginSK"
    routeUrl="/tenants"
    (selectionChange)="onSelectionChange()"
></atlas-grid>
