/* You can add global styles to this file, and also import other style files */
@import 'variables';

html,
body {
    height: auto;
    width: auto;
}

body {
    margin: 0;
    font-family: Museo !important;
    font-weight: 400;
}

.no-margin {
    margin: 0px !important;
}

.k-popup {
    padding: 0px;
}

.no-padding {
    padding: 0px !important;
}

.mat-list-item-content {
    padding: 0 8px !important;
    font-size: 14px !important;
    font-family: Museo;
    font-weight: 400;
    opacity: 0.87;
}

.button-header a.active {
    background-color: $atlas-icon-active;
}

// Kendo Buttons
.k-primary {
    height: 32px;
    min-width: 64px;
    padding-left: 16px;
    padding-right: 16px;
    font: 'Museo' 300 14px #ffffff !important;
}

.k-button {
    margin: 10px;
}

.atlas-header {
    background-color: $atlas-header-bg-color;
}

.button-group-2 > a > .mat-button-wrapper > .fa,
.button-group-2 > a > .mat-button-wrapper > .fa,
.mat-button-wrapper > .fa.fa-bars,
.mat-button-wrapper > .fa.fa-undo {
    color: saddlebrown;
}

mat-label {
    font-size: 12px;
    font-weight: 300;
}

.fa:not(.disable) {
    color: $atlas-icon;
    font-size: 16px;
}

.sidebar-row .fa.fa-inbox,
.sidebar-row .fa.fa-files-o {
    color: white;
    font-size: x-large;
}

.no-padding {
    padding: 0px;
}

.refresh-btm {
    float: right;
}

.k-grid {
    border-color: transparent;
    margin-top: 12px;
}

.k-grid-toolbar {
    background-color: $atlas-header-bg-color;
    padding: 0px;
    height: 48px;
    opacity: 0.87;
    font-size: 14px;
}

.k-grouping-header {
    padding: 0px;
}

.k-grid-draggable-header.k-group-indicator {
    padding: 0px;
}

.k-grid-header {
    background-color: $atlas-grid-header;
    border-color: $atlas-grid-header-border;
    font-size: 12px !important;
    font-weight: 500 !important;
}

.tasks-header {
    font-size: 18px;
}

.k-grid-header .k-header {
    height: 40px;
    padding: 6px 0px;
}

.k-grid tbody td {
    padding: 6px 0px;
    font-size: 12px !important;
    opacity: 0.87 !important;
}

.k-grid tr td:first-child {
    text-align: center;
}

.k-grid-filter {
    top: 3px;
}

.mat-tab-links,
.mat-tab-link,
.mat-tab-header {
    background-color: #505050;
    color: #e9e1d7;
}

.mat-tab-link:hover,
.mat-tab-link:focus,
.mat-tab-link:active,
.mat-tab-label,
.mat-tab-label-active {
    color: #fff !important;
}

.mat-ink-bar {
    background-color: white !important;
    height: 5px !important;
}

.mat-tab-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $atlas-tabs-bg-color;
    font-weight: 500;
    font-size: 14px;
}

.mat-dialog-content {
    margin: 0px;
}

.mat-toolbar h2 {
    font-weight: 400;
    font-size: 18px;
}

.k-treeview {
    font-size: 12px;
    opacity: 0.87;
    background-color: white;
    margin-top: 12px;
}

mat-menu-item {
    font-weight: 300;
}

mat-list-item-content {
    font-size: 14px;
}

.user-grid {
    background-color: white;
}

.custom-dialog-container .mat-dialog-container {
    padding: 0px;
}

.mat-dialog-content {
    margin: 0px !important;
}

.atlas-dialog-header {
    background-color: #1f93a1;
    color: white;
    min-height: 48px !important;
    height: 48px;
}
