/* You can add global styles to this file, and also import other style files */
@import 'variables';

html,
body {
    height: $atlas-body-height;
    width: auto;
}

body {
    margin: 0;
    font-family: $font-family !important;
    font-weight: 400;
}

.no-margin {
    margin: 0 !important;
}

.k-popup {
    padding: 0;
}

.no-padding {
    padding: 0 !important;
}

.mat-list-item-content {
    padding: 0 8px !important;
    font-size: $atlas-menu-item-font-size !important;
    font-family: $font-family;
    font-weight: $atlas-menu-item-font-weight;
    opacity: 0.87;
}

.button-header a.active,
.small-header a.active {
    background-color: $atlas-icon-active;
}

// Kendo Buttons

.k-primary {
    height: $atlas-button-height;
    min-width: 64px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: $font-family;
    font-weight: $atlas-button-font-weight;
    font-size: $atlas-button-font-size;
    color: $color-white;
}

.k-button {
    margin: 10px;
}

.atlas-header {
    background-color: $atlas-header-bg-color;
}

.atlas-header.mat-toolbar-row,
.atlas-header.mat-toolbar-single-row,
.atlas-header.mat-toolbar-multiple-rows {
    height: $atlas-header-desktop-height;
    min-height: $atlas-header-desktop-height;
    width: 100%;
}

.fa:not(.disable) {
    color: $atlas-icon;
    font-size: $atlas-icons-font-size;
}

.button-group-2 > a > .mat-button-wrapper > .fa,
.mat-button-wrapper > .fa.fa-bars,
.mat-button-wrapper > .fa.fa-undo {
    color: $color-saddle-brown;
}

mat-label {
    font-size: $atlas-input-font-size;
    font-weight: $atlas-input-font-weight;
}

.sidebar-row .fa.fa-inbox,
.sidebar-row .fa.fa-files-o {
    color: $color-white;
    font-size: x-large;
}

.refresh-btm {
    float: right;
}

.k-grid {
    border-color: transparent;
    margin-top: 12px;
}

.k-grid-toolbar {
    background-color: $atlas-header-bg-color;
    padding: 0;
    height: $atlas-toolbar-height;
    opacity: 0.87;
    padding-left: 10px;
    padding-top: 4px;
}

.k-grouping-header {
    padding: 0;
}

.k-grid-draggable-header.k-group-indicator {
    padding: 0;
}

.k-grid-header {
    background-color: $atlas-grid-header;
    border-color: $atlas-grid-header-border;
    font-size: $atlas-grid-header-font-size !important;
    font-weight: $atlas-grid-header-font-weight !important;
}

.tasks-header {
    font-size: $atlas-tasks-header-font-size;
}

.k-grid-header .k-header {
    height: $atlas-grid-header-height;
    padding: 6px 0;
}

.k-grid tbody td {
    padding: 6px 0;
    font-size: $atlas-grid-body-font-size !important;
    opacity: 0.87 !important;
}

.user-grid .k-grid tr td:first-child {
    text-align: center;
}

.dms-grid {
    padding-left: 3px;
}

.k-grid-filter {
    top: 3px;
}

.mat-tab-links,
.mat-tab-link,
.mat-tab-header {
    background-color: $atlas-tabs-bg-color;
    color: $atlas-tabs-color;
}

.mat-tab-link:hover,
.mat-tab-link:focus,
.mat-tab-link:active,
.mat-tab-label,
.mat-tab-label-active {
    color: $color-white !important;
}

.mat-ink-bar {
    background-color: $color-white !important;
    height: 5px !important;
}

.mat-tab-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $atlas-tabs-bg-color;
    font-weight: $atlas-tab-font-weight;
    font-size: $atlas-tab-font-size;
}

.mat-dialog-content {
    margin: 0 !important;
}

.custom-dialog-container-upload .mat-dialog-content {
    height: 170px;
}

.mat-toolbar h2 {
    font-weight: $atlas-dialog-header-font-weight;
    font-size: $atlas-dialog-header-font-size;
}

.k-treeview {
    font-size: $atlas-tree-font-size;
    opacity: 0.87;
    background-color: $color-white;
    margin-top: 12px;
    overflow-y: scroll;
    height: 550px;
}

.cdk-overlay-container .mat-menu-panel {
    max-width: 200px;
    width: 100vw;
}

.cdk-overlay-container .mat-menu-panel .fa {
    color: $atlas-icon;
}

.mat-menu-item {
    font-weight: $atlas-menu-item-font-weight;
}

.multi-select p {
    margin: 0;
}

.k-grid .mat-button .mat-button-wrapper {
    color: cornflowerblue;
}

.k-datepicker {
    width: 100%;
    margin-bottom: 15px;
}

.k-multiselect {
    width: 100%;
}

.user-grid {
    background-color: $color-white;
}

.custom-dialog-container .mat-dialog-container {
    padding: 0;
}

.custom-dialog-container-upload .mat-dialog-container {
    padding: 0;
}

.atlas-dialog-header {
    background-color: $primary;
    color: $color-white;
    min-height: $atlas-dialog-header-height !important;
    height: $atlas-dialog-header-height;
}

.atlas-logo {
    height: $atlas-logo-height;
    margin: 0 4px 3px 0;
}
// sidebar

.side-bar-toolbar {
    position: fixed;
    z-index: 2;
    width: 420px !important;
    min-height: $atlas-sidebar-toolbar-height !important;
    height: $atlas-sidebar-toolbar-height !important;
}

.side-bar-body {
    margin-top: 40px;
}

// container

.right-sidebar.sideBarMini {
    width: 50px !important;
    background-color: $primary;
}

.atlas-page-header {
    height: $atlas-page-header-height;
    padding: 12px 0 0 16px;
}

.mat-drawer-content.mat-sidenav-content {
    overflow: hidden;
}

.btn-dialog-close {
    top: 0 !important;
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-device-pixel-ratio: 3) {

    .atlas-header.mat-toolbar-row,
    .atlas-header.mat-toolbar-single-row,
    .atlas-header.mat-toolbar-multiple-rows {
        height: $atlas-header-mobile-height !important;
        min-height: auto !important;
        white-space: inherit !important;
    }

    .undo-btn {
        float: right;
    }

    .toggle-btn {
        float: left;
    }

    .atlas-toolbar {
        text-align: center;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .side-bar-toolbar {
        width: 404px !important;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .side-bar-toolbar {
        width: 310px !important;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .side-bar-toolbar {
        width: 310px !important;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .side-bar-toolbar {
        width: 310px !important;
    }

    .atlas-header.mat-toolbar-row,
    .atlas-header.mat-toolbar-single-row,
    .atlas-header.mat-toolbar-multiple-rows {
        height: $atlas-header-mobile-xl-height;
        min-height: auto;
        white-space: inherit;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .side-bar-toolbar {
        width: 310px !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-device-pixel-ratio: 3) {

    .side-bar-toolbar {
        width: 310px !important;
    }
}

@media (min-width: 320px) and (max-width: 375px) {

    .atlas-header.mat-toolbar-row,
    .atlas-header.mat-toolbar-single-row,
    .atlas-header.mat-toolbar-multiple-rows {
        height: $atlas-header-mobile-height;
        min-height: auto;
        white-space: inherit;
    }
}

@media (min-width: 376px) and (max-width: 480px) {

    .atlas-header.mat-toolbar-row,
    .atlas-header.mat-toolbar-single-row,
    .atlas-header.mat-toolbar-multiple-rows {
        height: $atlas-header-mobile-xl-height;
        min-height: auto;
        white-space: inherit;
    }
}

.sideBarMini .side-bar-toolbar {
    height: calc(100% - 50px) !important;
}

.spacer {
    flex: 1;
}

// chase management

.chase-grid .k-grid tr td:first-child {
    text-align: center;
}

.chase-grid .k-grid thead tr th:first-child {
    text-align: center;
}

.chase-member-grid .k-grid tr td:first-child {
    text-align: center;
}

.chase-provider-grid .k-grid tr td:first-child {
    text-align: center;
}
