@import '~@angular/material/theming';
$fa-font-path: 'node_modules/font-awesome/fonts';

@import '~font-awesome/scss/font-awesome.scss';

@font-face {
    font-family: Museo;
    src: url(/assets/fonts/MuseoSans_100.otf) format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: Museo;
    src: url(/assets/fonts/MuseoSans_300.otf) format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: Museo;
    src: url(/assets/fonts/MuseoSans_500.otf) format('opentype');
    font-weight: 500;
}

$custom-typography: mat-typography-config(
    $font-family: 'Museo',
);

@include mat-core($custom-typography);
$atlas-app-primary: mat-palette($mat-cyan, 800);
$atlas-app-accent: mat-palette($mat-grey, 900);

// The warn palette is optional (defaults to red).
$atlas-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$atlas-app-theme: mat-light-theme($atlas-app-primary, $atlas-app-accent, $atlas-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($atlas-app-theme);

@import 'variables.scss';
@import '~@progress/kendo-theme-material/scss/grid';
@import '~@progress/kendo-theme-material/scss/button';
@import '~@progress/kendo-theme-material/scss/dialog';
@import '~@progress/kendo-theme-material/scss/toolbar';
@import '~@progress/kendo-theme-material/scss/dropdownlist';
@import '~@progress/kendo-theme-material/scss/treeview';
@import '~@progress/kendo-theme-material/scss/ripple';
@import '~@progress/kendo-theme-material/scss/input';
@import '~@progress/kendo-theme-material/scss/dataviz';
@import '~@progress/kendo-theme-material/scss/menu';
@import '~@progress/kendo-theme-material/scss/popup';
@import '~@progress/kendo-theme-material/scss/styling';
@import '~@progress/kendo-theme-material/scss/calendar';
@import '~@progress/kendo-theme-material/scss/multiselect';
@import '~@progress/kendo-theme-material/scss/upload';
@import '~@progress/kendo-theme-material/scss/all';
