@import '~@angular/material/theming';

$atlas-app-primary: mat-palette($mat-cyan, 800);
$atlas-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$atlas-app-warn: mat-palette($mat-red);

$primary: mat-color($atlas-app-primary);
$primary-contrast:#ffffff;
$atlas-tabs-bg-color: #505050;
$atlas-header-bg-color:white;
$atlas-icon:#1F93A1;
$atlas-icon-active:#e1e4e4;
$atlas-grid-header:#E6E7E8;
$atlas-grid-header-border:#D1D3D4;
