<atlas-page-header title="Properties" fontSize="x-large" [backGroundColor]="'white'" textAlign="center" [color]="'black'">
</atlas-page-header>
<atlas-page-content>
  <div class="col-md-6 userDiv">
    <label class="userLabel">Login ID</label>
    <span class="userSpan">{{userDetail.cf_LoginID}}</span>
  </div>
  <div class="col-md-6 userDiv">
    <label class="userLabel">Created By</label>
    <span class="userSpan">{{userDetail.CreatedBy}}</span>
  </div>
  <div class="col-md-6 userDiv">
    <label class="userLabel">Created Time</label>
    <span class="userSpan">{{userDetail.CreatedTs | date}}</span>
  </div>
  <div class="col-md-6 userDiv">
    <label class="userLabel">Last Modified By</label>
    <span class="userSpan">{{userDetail.LastModfdBy}}</span>
  </div>
  <div class="col-md-6 userDiv">
    <label class="userLabel">Last Modified Time</label>
    <span class="userSpan">{{userDetail.LastModfdTs | date}}</span>
  </div>
  <div class="col-md-6 userDiv">
    <label class="userLabel">Employee Number</label>
    <span class="userSpan">{{userDetail.EmpNbr}}</span>
  </div>
</atlas-page-content>