<atlas-tree
    [isTreeViewExpandable]="true"
    [isTreeViewHierarchyBinding]="true"
    textFields="TenantTaxnmyName"
    children="children"
    showToolbar="true"
    isEditable="true"
    isFilterable="true"
    showRefresh="true"
    [menuItems]="menuItems"
    (selectionChange)="onSelectionChange()"
    [treeViewService]="treeTestServiceChild"
    [selectable]="true"
    [selectedKeys]="keys"
    [hasDetails]="true"
    [multiselect]="true"
    [triStateChecking]="true"
    [(checkedKeys)]="checkedKeys"
    (checkedChange)="onCheckedChange($event)"
    (viewDetail)="onViewDetail($event)"
></atlas-tree>
