<form novalidate [formGroup]="editForm">
  <div class="form-group" *ngIf="!isNew">
    <label for="UserMstrSK" class="control-label">ID</label>
    <input type="text" class="k-textbox" formControlName="UserMstrSK" />
  </div>
  <div class="form-group">
    <label for="PhNbr" class="control-label">Employee Number</label>
    <input type="text" class="k-textbox" formControlName="PhNbr" />
  </div>
  <div class="form-group">
    <label for="cf_LoginID" class="control-label">Username</label>
    <input type="text" class="k-textbox" formControlName="cf_LoginID" />
  </div>

  <div class="form-group">
    <label for="FirstName" class="control-label">First Name</label>
    <input type="text" class="k-textbox" formControlName="FirstName" />
    <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.FirstName.valid || editForm.controls.FirstName.pristine">
      First name is required.
    </div>
  </div>
  <div class="form-group">
    <label for="MiddleName" class="control-label">Middle Name</label>
    <input type="text" class="k-textbox" formControlName="MiddleName" />
  </div>
  <div class="form-group">
    <label for="LastName" class="control-label">Last Name</label>
    <input type="text" class="k-textbox" formControlName="LastName" />
    <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.LastName.valid || editForm.controls.LastName.pristine">
      Last name is required.
    </div>
  </div>
  <div class="form-group">
    <label for="EmailAddr" class="control-label">Email</label>
    <input type="text" class="k-textbox" formControlName="EmailAddr" />
    <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.EmailAddr.valid || editForm.controls.EmailAddr.pristine">
      Email ID is required.
    </div>
  </div>
</form>