<atlas-dialog-header [title]="isNew ? 'Add':'Edit'" [isDirty]="form.dirty" (close)="closeHandler($event)">
</atlas-dialog-header>
<atlas-dialog-content>
  <form novalidate [formGroup]="form">
    <mat-form-field class="dialog-input">
      <input matInput placeholder="Tenant Name" formControlName="TenantTaxnmyName" name="TenantTaxnmyName" required>
    </mat-form-field>
    <mat-form-field class="dialog-input">
      <input matInput [matDatepicker]="myDatepicker" formControlName="EfctvStartDt">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="dialog-input">
      <input matInput [matDatepicker]="endDatePicker" formControlName="EfctvEndDt">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="dialog-input">
      <input matInput placeholder="Root Domain" formControlName="RootDomain" name="RootDomain" required>
    </mat-form-field>
  </form>
</atlas-dialog-content>
<atlas-dialog-footer [isSaveDisabled]="isNew ? form.invalid : ((!form.valid) || (!form.dirty))" (close)="closeHandler($event)">

</atlas-dialog-footer>
