<p>
    Reactive Form
    <span class="boldspan">Form data:</span>
    {{ editForm.value | json }}
</p>
<p>
    <span class="boldspan">Model data:</span>
    {{ button.value }}
</p>
<form novalidate [formGroup]="editForm">
    <atlas-input
        #button
        label="Type here"
        formControlName="CustomBtn"
        width="400px"
        required="false"
        name="test"
        placeHolder="Reactive forms"
    ></atlas-input>
</form>

<p>Template forms</p>
<p>
    <span class="boldspan">Model data:</span>
    {{ templateButton.value }}
</p>
<atlas-input
    #templateButton
    label="Type here"
    [(ngModel)]="value"
    width="400px"
    required="true"
    name="modelbinding"
    placeHolder="Template forms"
></atlas-input>
