<div class="login-box mat-card">
    <div class="login-header mat-toolbar mat-primary"><span>LOGIN</span></div>
    <img src="../../../../../assets/images/MHP.png" class="card-img-top" />

    <div>
        <div class="body-container">
            <div class="login-input">
                <atlas-input
                    label="Username"
                    [(ngModel)]="username"
                    width="100%"
                    required
                ></atlas-input>
            </div>
            <div class="login-input">
                <atlas-input
                    label="Password"
                    [(ngModel)]="password"
                    width="100%"
                    type="password"
                    required
                ></atlas-input>
            </div>
        </div>
        <div>
            <atlas-button primary="true" (click)="login()" class="login-button">LOGIN</atlas-button>
            <a
                aria-label="Forgot Password"
                class="forgot-link"
                title="Forgot Password"
                mat-button
                routerlink="/"
                tabindex="0"
                aria-disabled="false"
            >
                Forgot Password?
            </a>
            <a
                aria-label="Need Help"
                class="need-help-link"
                title="Need Help"
                mat-button
                routerlink="/"
                tabindex="0"
                aria-disabled="false"
            >
                Need Help?
                <mat-icon fontSet="fontawesome" fontIcon="fa-info-circle"></mat-icon>
            </a>
        </div>
    </div>
</div>
<footer class="login-footer">
    <div class="row no-margin">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <a rel="nofollow">Terms Of Use</a>
            |
            <a rel="nofollow">Privacy Policy</a>
            |
            <a rel="nofollow">Fraud, Waste & Abuse</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p class="h6">Copyright 2018 - Comprehensive Healthcare Management, Inc.</p>
        </div>
    </div>
</footer>
