<mat-card class="login-box">
  <mat-toolbar class="login-header" color="primary">
    <span>
      LOGIN
    </span>
  </mat-toolbar>
  <img src="../../../../../assets/images/MHP.png" class="card-img-top" />

  <mat-card-content>
    <div class="body-container">
      <mat-form-field class="login-input">
        <input matInput placeholder="Username" [(ngModel)]="username" type="username" name="username" required>
      </mat-form-field>
      <mat-form-field class="login-input">
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>
    </div>
    <mat-card-footer>
      <button mat-raised-button color="primary" class="login-button" (click)="login()">
        LOGIN
      </button>
      <a aria-label="Forgot Password" class="forgot-link" title="Forgot Password" mat-button routerlink="/" tabindex="0"
        aria-disabled="false">
        Forgot Password?
      </a>
      <a aria-label="Need Help" class="need-help-link" title="Need Help" mat-button routerlink="/" tabindex="0"
        aria-disabled="false">
        Need Help?<mat-icon fontSet="fontawesome" fontIcon="fa-info-circle"></mat-icon>
      </a>
    </mat-card-footer>

  </mat-card-content>
</mat-card>
<footer class="login-footer">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <a rel="nofollow">Terms Of Use</a> |
          <a rel="nofollow">Privacy Policy</a> |
          <a rel="nofollow">Fraud, Waste & Abuse</a>
        </div>
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
      <p class="h6">Copyright 2018 - Comprehensive Healthcare Management, Inc.</p>
    </div>
  </div>
</footer>
