<div class="row">
    <div class="col-md-9">
        <div class="col-md-12"><h2>Focus/Blur button example</h2></div>
        <div class="col-md-12">
            <atlas-button
                iconValue="plus"
                (blur)="onBlurFocus('Blur event')"
                (focus)="onBlurFocus('Focus Event')"
                [look]="'bare'"
                primary="true"
            >
                Button
            </atlas-button>
            <atlas-button iconValue="minus" (click)="onRemoveClick()" [look]="'bare'">
                Remove events
            </atlas-button>
            <div class="example-config">
                <h5>Events Log</h5>
                <ul class="event-log">
                    <li *ngFor="let event of events.reverse()">{{ event }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Alert button</h2>
        <atlas-button (click)="openAlert()" [primary]="true" atlasSecurity="sample-button">
            Sample Alert
        </atlas-button>
        <atlas-button (click)="openAlert()" [primary]="true" atlasSecurity="print-button">
            Print Alert
        </atlas-button>
        <atlas-button (click)="showDocument('sample.pdf')" [primary]="true">
            Show sample 1
        </atlas-button>
        <atlas-button (click)="showDocument('sample2.pdf')" [primary]="true">
            Show sample 2
        </atlas-button>
    </div>
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Buttons with Customizable Grid</h2>
        <div>
            <atlas-button
                [iconClass]="'k-icon k-i-edit k-i-pencil'"
                (click)="isEditable = !isEditable"
                [look]="isEditable ? 'outline' : ''"
                buttonColor="grey"
            >
                {{ !isEditable ? 'Enable Editing' : 'Disable Editing' }}
            </atlas-button>
            <atlas-button
                [iconClass]="!isPageable ? 'k-icon k-i-delicious' : ''"
                (click)="isPageable = !isPageable"
            >
                {{ !isPageable ? 'Enable Paging' : 'Disable Paging' }}
            </atlas-button>
            <atlas-button
                [iconClass]="'k-icon k-i-sort-asc'"
                (click)="isSortable = !isSortable"
                [look]="'flat'"
                [primary]="!isSortable ? false : true"
            >
                {{ !isSortable ? 'Enable Sorting' : 'Disable Sorting' }}
            </atlas-button>
            <atlas-button
                [iconClass]="
                    !colorChange
                        ? 'k-icon k-i-checkbox k-i-shape-rect'
                        : 'k-icon k-i-checkbox-checked'
                "
                (click)="changeHeaderColor(colorChange ? false : true)"
                [primary]="colorChange ? true : false"
            >
                Toggle Header Color
            </atlas-button>
            <atlas-button
                [iconClass]="'k-icon k-i-select-box'"
                (click)="selectableSettings.enabled = !selectableSettings.enabled"
            >
                {{ !selectableSettings.enabled ? 'Enable Selection' : 'Disable Selection' }}
            </atlas-button>
            <atlas-button [iconClass]="'k-icon k-i-filter'" (click)="isFilterable = !isFilterable">
                {{ !isFilterable ? 'Enable filter' : 'Disable filter' }}
            </atlas-button>
            <br />
            <atlas-grid
                [isFilterable]="isFilterable"
                [state]="gridState"
                [columns]="columnsData"
                [gridService]="service"
                [isSortable]="isSortable"
                [isPageable]="isPageable"
                [isEditable]="isEditable"
                [selectable]="selectableSettings"
                [selectedKeys]="selectedKeys"
            ></atlas-grid>
        </div>
        <br />
    </div>
</div>
