<!-- Header -->
<app-header (toggleLeftNav)="leftNav.toggle()" (routeChanged)="routeHandler()"></app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #leftNav class="sidenav" fixedInViewport="true" [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <!-- Navbar -->
    <app-left-nav></app-left-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main content -->
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
  <mat-sidenav #sidebar class="sidenav right-sidebar" [(opened)]="isSideBarOpened" mode="side" position="end">
    <!-- Side bar with different routes -->
    <app-right-side-bar (toggleSideBar)="sidebar.toggle()"></app-right-side-bar>
  </mat-sidenav>
</mat-sidenav-container>
