@media (max-width: 767px) {

  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.sidenav-container {
  height: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0px;
}

:host(.isAuthorized) {
  top: 45px;
}

.sidenav {
  width: 210px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  position: absolute;
}

mat-card {
  margin: 5px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.right-sidebar {
  width: 422px;
  box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.24);
}

.sideBarMini {
  width: 50px;
  background-color: #00838f;
}
