<!-- Header -->
<atlas-header
    #header
    *ngIf="isAuthorized"
    (toggleMenu)="toggleMenu()"
    (headerBtnClicked)="headerBtnHandler($event)"
    (toggleSideBar)="toggleSidebar()"
    [isSideBarOpened]="isSideBarOpened"
    (setHeaderTitle)="setHeaderTitle()"
    (logout)="logoutHandler()"
></atlas-header>
<atlas-sidenav-container
    #container
    [(isSideBarOpened)]="isSideBarOpened"
    [(isMiniMode)]="isMiniMode"
    [isAuthorized]="isAuthorized"
    [sideBarTitle]="sideBarTitle"
    [menuItems]="menuItems"
></atlas-sidenav-container>
