@import '../../../../../styles/variables.scss';

.header-tasks {
    height: $atlas-header-task-height;
    background-color: $atlas-grid-header;
    margin: 1px;
}

.header-tasks p {
    padding: 10px 12px;
    font-weight: 700;
    font-size: 12px;
}

::ng-deep .mat-select-panel {
    width: 138px;
    font-size: 10px !important;
    min-width: calc(66% + 32px) !important;
    font-weight: 600 !important;
}

::ng-deep .cdk-overlay-pane {
    width: 138px;
    min-width: 138px !important;
}
