<div class="row">
  <div class="col-md-12">
    <h2>Tenants</h2>
    <atlas-tree [data]="treeData" [isTreeViewExpandable]="true" [isTreeViewHierarchyBinding]="true" textFields="TenantTaxnmyName"
      [children]="children" showToolbar="true" isEditable="true" isFilterable="true" showRefresh="true" [menuItems]="menuItems" (remove)="showRemoveDialog()" (edit)="editHandler()" (addMenuSelect)="addHandler($event)" (refresh)="refresh()"></atlas-tree>
  </div>
</div>
<ng-container #dialogContainer></ng-container>