<atlas-page-header title="Tenant Administration" fontSize="x-large" textAlign="left">
</atlas-page-header>
<atlas-page-content>
  <atlas-tree *ngIf="treeData && treeData.length>0" [data]="treeData" [isTreeViewExpandable]="true"
    [isTreeViewHierarchyBinding]="true" textFields="TenantTaxnmyName" [children]="children" showToolbar="true"
    isEditable="true" isFilterable="true" showRefresh="true" [menuItems]="menuItems" (remove)="showRemoveDialog()"
    (edit)="editHandler()" (addMenuSelect)="addHandler($event)" (refresh)="refresh()"></atlas-tree>
</atlas-page-content>
<atlas-page-footer [canSave]="false" [showNumRecords]="false"></atlas-page-footer>
<router-outlet></router-outlet>