<div class="row">
  <div class="col-md-12">
    <form novalidate [formGroup]="editForm">
      <div class="form-group">
        <label for="TenantTaxnmyName" class="control-label">Tenant Name</label>
        <input type="text" class="k-textbox" formControlName="TenantTaxnmyName" />
      </div>
      <div class="form-group">
        <label for="EfctvStartDt" class="control-label">Effective Start Date</label>
        <input type="date" class="k-input" formControlName="EfctvStartDt" />
        <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.EfctvStartDt.valid || editForm.controls.EfctvStartDt.pristine">
          Effective Start Date is required.
        </div>
      </div>
      <div class="form-group">
        <label for="EfctvEndDt" class="control-label">Effective End Date</label>
        <input type="date" class="k-input" formControlName="EfctvEndDt" />
        <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.EfctvEndDt.valid || editForm.controls.EfctvEndDt.pristine">
          Effective End Date is required.
        </div>
      </div>
      <div class="form-group">
        <label for="RootDomain" class="control-label">Root Domain Url</label>
        <input type="text" class="k-textbox" formControlName="RootDomain" />
      </div>
    </form>
  </div>
</div>
