<atlas-toolbar
    [showSortBy]="true"
    [showAddEditButtons]="false"
    [buttons]="buttons"
    [parent]="'tasks'"
    (action)="actionHandler($event)"
></atlas-toolbar>
<div class="header-tasks mat-elevation-z4"><p>Tasks</p></div>
<atlas-card [cardItems]="workItems">
    <ng-template #cardTemplate let-item>
        <atlas-card-item
            [title]="item.taskTitle"
            [primaryFields]="item.primary"
            [secondaryFields]="item.secondary"
        >
            <ng-template #fieldTemplate let-field>
                <atlas-card-field [field]="field"></atlas-card-field>
            </ng-template>
        </atlas-card-item>
    </ng-template>
</atlas-card>
