.header-tasks {
    height: 42px;
    background-color: #e6e7e8;
    margin: 1px;
}

.toolbar {
    margin-bottom: 2px;
    background-color: white;
    height: 48px;
    min-height: 48px;
}

.header-tasks p {
    padding: 10px 12px;
    font-weight: 700;
    font-size: 12px;
}

::ng-deep .mat-select-panel {
    width: 138px;
    font-size: 10px !important;
    min-width: calc(66% + 32px) !important;
    font-weight: 600 !important;
}

::ng-deep .cdk-overlay-pane {
    width: 138px;
    min-width: 138px !important;
}
